*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
  --twitter-blue: #249FF2;
  --twitter-hover-blue: #E8F5FE;
  --twitter-hover-green: #cfebce;
  --twitter-hover-red: #fee8e8;
  --border-grey: 1px #ebeef0 solid;
  --tweet-highlight-grey: #fafafa;
  --grey-blue-text: #5b7083;
}

.App {
  /* text-align: center; */
  height:100vh;
  width:100vw;
  font-size: 15px;
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  font-size: 15px;
  overflow-x: hidden;
}

.bold {
  font-weight: 900;
}

nav {
  width:275px;
  overflow: none;
}

.app-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

#news-section {
  padding-left: 20px;
  border-left: var(--border-grey);
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#news-section::-webkit-scrollbar {
  display: none;
}