/* NavBar.js Component */

.navbar-container{
padding: 12px 0;
height: 100%;
letter-spacing: -0.02em;
display: flex;
flex-flow: column nowrap;
border-right: 1px #ebeef0 solid;
justify-content: flex-start;
}

.nav-top{
display: flex;
flex-flow: column nowrap;
justify-content: flex-start;
}

.twitter-logo-container {
    border-radius: 60px;
    height:46px;
    width: 46px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.twitter-logo {
    height: 30px;
    width: 30px;
    background-image: url(../images/navbar/tweeterlogo3.png);
    background-size:cover;
}

.twitter-logo-container:hover {
    background-color: var(--twitter-hover-blue);
}

.navbar-container li {
list-style: none;
font-weight: 900;
font-size: 20px;
height: 50px;
display: flex;
flex-wrap: nowrap;
}

nav a {
text-decoration: none;
color: black;
height: 100%;
border-radius: 60px;
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
padding:12px;
}

nav a:hover {
color: var(--twitter-blue);
background-color: var(--twitter-hover-blue);
}

nav a span {
    margin: 0 16px 0 20px;
}

.home-list-item span {
color: var(--twitter-blue);
}

.nav-icon {
    height:25px;
    width:25px;
    background-size: contain;
}

.home-icon {
    background-image: url(../images/navbar/home2.png);   
}

.explore-icon {
    background-image: url(../images/navbar/explore1.png);
}

.notifications-icon {
    background-image: url(../images/navbar/notifications1.png);
}

.messages-icon {
    background-image: url(../images/navbar/messages1.png);
}

.bookmarks-icon {
    background-image: url(../images/navbar/bookmarks1.png);
}

.lists-icon {
    background-image: url(../images/navbar/lists1.png);
}

.profile-icon {
    background-image: url(../images/navbar/profile1.png);
}

.more-icon {
    background-image: url(../images/navbar/more1.png);
}

nav button {
width: 90%;
margin: 16px 0;
background-color: var(--twitter-blue);
border: none;
border-radius: 50px;
min-height:48px;
color:white;
font-weight: 900;
font-size: 15px;
box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
}

nav button:hover {
background-color: rgb(26, 144, 218)
}

.nav-bottom {
position: absolute;
bottom: 12px;
height:64px;
width: 275px;
display: flex;
flex-flow: row nowrap;
justify-content: center;
align-items: center;
}

.nav-profile-item {
padding: 12px;
width: 90%;
display: flex;
flex-flow: row nowrap;
justify-content: flex-start;
align-items: center;
border-radius: 60px;
}

.nav-profile-item:hover {
border-radius: 60px;
background-color: var(--twitter-hover-blue);
}

.nav-profile-pic {
    background-image: url(../images/lego1.jpg);
    background-size: cover;
    border-radius: 60px;
    height:40px;
    width: 40px;
}

.nav-profile-info {
    margin: 0 10px;
}

.nav-profile-info > :last-child {
color: #5b7083;
}