.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Tweet.js Form CSS below....Kellie */
.tweeter {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  margin: auto;
}
.tweet_form {
  padding-top: 30px;
  justify-content: center;
  display: flex;
  
  
  
}
.tweet_form input {
  border: none;
}
.text { 
  cursor: text; 
}
.tweet_button {
  height: 30px;
  width: 50px;
  display: inline-block;
  border-radius: 12px;
  background-color: #3399ff; /* twitter color  */
  font-weight: 700;
  color: white;
  padding: 0;
  border: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
